img{
  width: 360px;
  height: 268px;
  }
h1{
  font-family: 'Josefin Slab', serif;
  text-align: center;
  margin: 80px 40px 40px 50px;
  font-size: 40px;
}
.block{
  width: 490px;
  height: 270px;
  padding: 0px;
  text-align: center;
  background: blue;
  opacity: 0.9;
}
.title{
  font-family: 'Pacifico', cursive;
  text-align: left;
  margin: 100px 30px 40px 10px;
  font-size: 50px;
}
.subtitle{
  font-size: 20px;
  font-family: 'Josefin Slab', serif;
}
p{
  font-family: 'Lato', sans-serif;
}
.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow: hidden;
}
.sidebar{
    list-style-type: none;
    text-align: center;
}
.sidebarlist{
    display: block;
    text-align: center;
    color: grey;
    padding: 20px 0px 20px 0px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
}
.sidebarlist:hover{
    background-color: lightgrey;
    color: white;
}
img:hover{
  image-resolution: snap;
}
.fade {
   opacity: 0.8;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
    opacity: 0.5;
      }
