img{
  width: 370px;
  height: 268px;
  }
h1{
  font-family: 'Josefin Slab', serif;
  text-align: center;
  margin: 120px 40px 40px 50px;
  font-size: 40px;
}
.block{
  width: 490px;
  height: 270px;
  padding: 0px;
  text-align: center;
  background: blue;
  opacity: 0.9;
}
p{
  font-family: 'Lato', sans-serif;
}
.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow: hidden;
}
ul{
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  color: grey;
}
li a {
  display: block;
  text-align: center;
  color: grey;
  padding: 20px 0px 20px 0px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
li a:hover{
    background-color: lightgrey;
    color: white;
    text-decoration: none;
}
img:hover{
  image-resolution: snap;
}
.fade {
   opacity: 0.9;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
    opacity: 0.5;
      }
