img{
  width:400px;
  height:275px;
  padding: 0px;
  }
h1{
  font-family: 'Pacifico', cursive;
  text-align: center;
  margin: 80px 0px 40px 10px;
  font-size: 50px;
}
p{
  font-family: 'Lato', sans-serif;
}
.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow: hidden;
}
.sidebar{
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    font-family: 'Lato', sans-serif;
}
.sidebarlist{
    display: block;
    color: black;
    text-align: left;
    padding: 20px;
    text-decoration: none;
}
.sidebarlist:hover{
    background-color: lightgrey;
    color: white;
}
img:hover{
  image-resolution: snap;
}
.fade {
   opacity: 0.9;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
    opacity: 0.5;
      }
